<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New Dealership Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
      <span class="navbar-brand">ASM v1</span>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <% if (user) { %>
            <a href="/vehicles" class="nav-item nav-link">My Vehicles</a>
            <a href="/dealerships/new" class="nav-item nav-link">Add Dealership</a>
            <h5><a href="/logout" class="nav-item badge badge-success">Log Out: <%= user.name %> (<%= user.email %>)</a></h5>
            <% } else { %>
            <h5><a href="/auth/google" class="nav-item badge badge-light">Login with Google</a></h5>
            <% } %>
        </div>
      </div>
    </nav>
    <main>
      <h2>Add a New Dealership:</h2>
      <form method="POST" action="/dealerships" autocomplete="off">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" name="name" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="address">Address:</label>
          <input type="text" name="address" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="website">Website:</label>
          <input type="text" name="website" class="form-control">
        </div>
        <button type="submit" class="btn btn-dark btn-sm">Add Dealership</button>
      </form>
    </main>
  </body>
</html>

