<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar fixed-top navbar-dark bg-dark">
      <span class="navbar-brand mb-0 h1">ASM v1</span>
      <div class="navbar-nav">
        <% if (user) { %>
        <a href="/vehicles" class="nav-item nav-link">My Vehicles</a>
        <h5><a href="/logout" class="nav-item badge badge-success">Log Out: <%= user.name %> (<%= user.email %>)</a></h5>
        <% } else { %>
        <h5><a href="/auth/google" class="nav-item badge badge-light">Login with Google</a></h5>
        <% } %>
      </div>
    </nav>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Welcome to ASM: <%= title %></h1>
      </div>
    </div>
    <footer class="mastfoot mt-auto">
      <p>Designed and built by A. Neti, 2019.</p>
    </footer>
  </body>
</html>

